ansicolors
cycler
fakeredis
funcsigs
functools32
future
futures                 # required by trollius
h5py
ipaddress
katversion
linecache2
manhole
matplotlib
mock
msgpack
netifaces
nose
numpy
pbr
ply
psutil==2.1.1
pygelf
pyparsing
python-dateutil
pytz
redis
six
spead2
subprocess32
traceback2
trollius                # required by spead2
singledispatch
certifi
backports-abc
backports.ssl-match-hostname
tornado
unittest2
katsdpservices @ git+https://github.com/ska-sa/katsdpservices
katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
