ansicolors==1.0.2
pkginfo
Cython
funcsigs
guppy==0.1.10
h5py
linecache2
manhole
matplotlib==1.4.3
mock
mod_pywebsocket==0.7.9
mplh5canvas==0.7
netifaces
nose
numpy
pbr
ply
ProxyTypes
psutil==2.1.1
pyparsing==2.0.6
python-dateutil==2.4.2
pytz==2015.7
redis
six
spead2
traceback2
twisted
unittest2
zope.interface
git+ssh://git@github.com/ska-sa/katsdptelstate
git+ssh://git@github.com/ska-sa/katversion
